@font-face {
  font-family: 'MyWebFont'; /* Define the custom font name */
  src:  url('myfont.woff2') format('woff2'),
        url('myfont.woff') format('woff'); /* Define where the font can be downloaded */
  font-display: fallback; /* Define how the browser behaves during download */
}

.logo img{
    width: 100%;
}
a{
    text-decoration: none;
    cursor: pointer;
    color: rgb(49, 49, 49);
}
button:focus { outline:0 !important; }
summary:focus { outline:0 !important; }
details summary{
    cursor:pointer;
}
.form{
    text-align: end;
}
nav{
    margin: 50px 100px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
   justify-content: space-between;
    font-family: var(--roboto);    
}

.teaf-row{
    display: flex;
    flex-wrap: wrap;
    align-content:center;
    justify-items: center;
    justify-content: center;
}
.teaf-card{
    box-shadow: 4px 10px 15px 0 rgba(0, 0, 0, 0.2);
    margin: 20px 20px;
    padding: 20px;
    background-color: white;
    border-radius: 5px; 
}
hr{
    background-color:#D6D6D6;
    height: 1px;
    border: none;
    margin: 20px 0px;
}
.limit-line-2{
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2; /* number of lines to show */
    -webkit-box-orient: vertical;
     
}
.limit-line-3{
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3; /* number of lines to show */
    -webkit-box-orient: vertical;
     
}
.limit-line-5{
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 5; /* number of lines to show */
    -webkit-box-orient: vertical;
     
}
.limit-line-4{
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 4; /* number of lines to show */
    -webkit-box-orient: vertical;
     
}
.limit-line-1{
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1; /* number of lines to show */
    -webkit-box-orient: vertical;
     
}
.grid-container-4{
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 10px;
    width: 70%;
    margin: auto;
    

}
.alert{
    color: crimson;
    font-size: 18px;
    text-align: center;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
 .desktop_hide{
        display: none;
    }








/*mobile*/

@media only screen and (max-width: 768px ) {
    .logo{
        width: 30%;
        margin: auto;
    }
    nav{
        margin: 20px 100px;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
        font-family: var(--roboto);
    }
    .menu{
        font-size: 3em;
        color:gray;
        position: absolute;
        top: 0;
        left: 0;
        margin: 20px;
        z-index: 0;
    }
    .sidebar{
        position: absolute;
        top: 0;
        left: 0;
        min-height: 100%;
        min-width: 50%;
        max-width: 60%;
        padding: 20px; 
        z-index: 2;
        display: none;
    }  
    .grid-container-4{
        display: flex;
        flex-wrap: wrap;
        width: 85%;
        margin: auto;
        align-content: left;   
    }
    .mobile_hide{
        display: none;
    }
    .teaf-card{
        box-shadow: 4px 10px 15px 0 rgba(0, 0, 0, 0.2);
        margin: 20px 0px;
        background-color: white;
        border-radius: 5px; 
}
   
    

}
    

    


























